<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <style>
        h1 {
            text-align: center;
        }
    </style>
    <body>
        <div id="layout">
            <div id="main">
                <div class="content">
                    <a href="/"><h1>wtf</h1></a>
                    <a href="/"><img src="/cantfindshit.gif"/></a>
                </div>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
