<!DOCTYPE html>
<html lang="en">
	{{- partial "head.html" . -}}
	<body>
		<div id="layout">
			{{- partial "header.html" . -}}
			<div id="main">
				<div class="content">
					<h1>Welcome to my not-a-blog</h1>
					<!-- Title | date | description  is all we want from each post -->
					{{ $articles := where .Site.Pages "Params.Category" "article" }}
					{{ range $articles }}
						<h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
						<blockquote><p>{{.Date.Format "January 2, 2006"}}</p></blockquote>
						{{ if isset .Params "description" }}
						<blockquote><p>{{ .Description }}</p></blockquote>
						{{ end }}
					{{ end }}
				</div>
			</div>
		</div>
        {{- partial "footer.html" . -}}
	</body>
</html>
